html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

html, body {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.canvas-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  
}

canvas {
  width: 100%; 
  height: 100%; 
}

#leftInfoBox {
  position: absolute;
  top: 5%;
  left: 2%;
  bottom: 5%;
  padding: 4em;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.7);
  color: #000000;
  font-size: 1em;
  z-index: 1;
  display: flex;
  align-items: top;
  justify-content: space-around; 
  width: 12em;  
  border-radius: 8px;
}

.text {
  position: absolute;
  top: 25%;
  z-index: 3; 
  font-family: 'Orbitron', sans-serif;  
  max-width: 80em;     
  overflow-x: scroll;
  padding: 0em 2em;
  margin: 0;
}

#leftInfoBox {
  left: 2em;
}

.audio-container {
  position: absolute;
  bottom: 70px;
  left: 45px;
  z-index: 2; 
}

.info-icon {
  display: block;
  margin: 20px auto; 
  width: 50px;  
  height: 50px; 

  flex: 1;           
  margin: 20px 10px;  
}

.info-icon[src="questionIcon.png"] {
  width: 65px;   
  height: 65px;  
  transform: translate(-5px, -7px);
}

#topRightImage {
  position: absolute;
  top: 5%;
  left: 70em;
  z-index: 2; 
}
